body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    color: #fff;
    text-align: center;
}

#volumeText {
    cursor: pointer;
    transition: all 0.2s;
    padding: 20px;
    border-radius: 10px;
}

#volumeText:hover {
    background-color: #222;
    transform: scale(1.05);
}

#volumeText:active {
    transform: scale(0.95);
}
